body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    font-family: sans-serif;
    font-size: small;
}

/*skip to content*/
a.skip {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

a.skip:focus, a.skip:active {
    position: absolute;
    top: auto;
}

*:focus {
    border: 2px solid black;
}

/*header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: black;
    padding: 10px;
    font-family: "Oswald", serif;
}

h2 {
    background-color: white;
    color: black;
    font-family: "Oswald", serif;
    font-size: x-large;
    /* padding: 10px 0 0 0; */
    text-align: center;
}

p {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: medium;
    padding: 5px 10px 10px 10px;
    text-align: center;
}

/*nav*/
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links a {
    /* position: relative; */
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

.nav-links .current {
    /* border: 3px solid black; */
    font-size: x-large;
}

/*footer*/
footer {
    position: absolute;
    width: 100%;
    /* height: min-content; */
    /* margin-top: 30px; */
}

footer p {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
}

/*parallax image*/
.parallax {
    background-image: url("../images/vangogh_icon.png");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*form*/
.form-inline {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: medium;
}

.form-inline label {
    width: 100%;
    padding: 15px 0 5px 0;
}

.form-inline input {
    vertical-align: middle;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

textarea {
    width: 100%;
    height: 25vh;
    padding: 10px;
    border: 1px solid black;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/*painting page*/
.paintingContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
}

.paintingImage {
    padding: 10px;
    border: 3px solid black;
}

.paintingImage:hover {
    opacity: 80%;
}

.paintingName {
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
}


/*movies page*/
.animation {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#movie img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lovingVincentVideo {
    width: 100%;
    height: 200px;
}

#movies img {
    border: 5px solid black;
    margin: 10px;
    max-width: 40%;
    height: auto;
}

/*museum page*/

.museumContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap: 15px;
}

.museumLocation {
    font-size: small;
    color: gray;
}



@media screen and (min-width: 768px) {

    .nav-links {
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-links a {
        padding: 20px;
    }

    .form-inline {
        width: 80%;
        margin: 0 auto;
    }

    .form-inline input {
        width: 80%;
    }

    textarea {
        width: 80%;
    }

    .form-inline label {
        width: 80%;
    }

    #skip p {
        margin-left: 15%;
        margin-right: 15%;
    }

    #painting p {
        margin-left: 15%;
        margin-right: 15%;
    }

    .paintingContainer {
        grid-template-columns: auto auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    #movie p {
        margin-left: 15%;
        margin-right: 15%;
    }

    .lovingVincentVideo {
        width: 100%;
        height: 400px;
    }

    #museum p {
        margin-left: 15%;
        margin-right: 15%;
    }

    /* .museumContainer {
        grid-template-columns: auto auto; */
        /* margin-left: 10%;
        margin-right: 10%;

    } */


}
@media screen and (min-width: 992px){
    

}
